Cibil_Application/CIBIL_wsdlfile_InlineSchema9.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TU.IDS.BusinessEntities.DigitalVerification" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://schemas.datacontract.org/2004/07/TU.IDS.BusinessEntities.DigitalVerification" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="GetCaseStatusHistoryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="DvCaseHistory" nillable="true" type="tns:ArrayOfDvCaseStatusHistory"/>
</xs:sequence>
</xs:complexType>
<xs:element name="GetCaseStatusHistoryResponse" nillable="true" type="tns:GetCaseStatusHistoryResponse"/>
<xs:complexType name="ArrayOfDvCaseStatusHistory">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="DvCaseStatusHistory" nillable="true" type="tns:DvCaseStatusHistory"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfDvCaseStatusHistory" nillable="true" type="tns:ArrayOfDvCaseStatusHistory"/>
<xs:complexType name="DvCaseStatusHistory">
<xs:sequence>
<xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Date" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Status" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="DvCaseStatusHistory" nillable="true" type="tns:DvCaseStatusHistory"/>
</xs:schema>