Cibil_DownloadDocument/CIBIL wsdlfile.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ExternalSolutionExecutionService" targetNamespace="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="CIBIL_wsdlfile_InlineSchema3.xsd"/>
        <generatedXSD location="CIBIL_wsdlfile_InlineSchema2.xsd"/>
        <generatedXSD location="CIBIL_wsdlfile_InlineSchema7.xsd"/>
        <generatedXSD location="CIBIL_wsdlfile_InlineSchema9.xsd"/>
        <generatedXSD location="CIBIL_wsdlfile_InlineSchema5.xsd"/>
        <generatedXSD location="CIBIL_wsdlfile_InlineSchema6.xsd"/>
        <generatedXSD location="CIBIL_wsdlfile_InlineSchema1.xsd"/>
        <generatedXSD location="CIBIL_wsdlfile_InlineSchema8.xsd"/>
        <generatedXSD location="CIBIL_wsdlfile_InlineSchema4.xsd"/>
        <binding hasEncoding="false" imported="true" name="basicHttp" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
<wsdl:types>









        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:tns="http://schemas.datacontract.org/2004/07/">
<xsd:include schemaLocation="CIBIL_wsdlfile_InlineSchema3.xsd"/>
    </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/">
<xsd:include schemaLocation="CIBIL_wsdlfile_InlineSchema2.xsd"/>
    </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TU.IDS.DataContracts.ExternalServices.SolutionExecution" xmlns:tns="http://schemas.datacontract.org/2004/07/TU.IDS.DataContracts.ExternalServices.SolutionExecution">
<xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="CIBIL_wsdlfile_InlineSchema8.xsd"/>
<xsd:include schemaLocation="CIBIL_wsdlfile_InlineSchema7.xsd"/>
    </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TU.IDS.BusinessEntities.DigitalVerification" xmlns:tns="http://schemas.datacontract.org/2004/07/TU.IDS.BusinessEntities.DigitalVerification">
<xsd:include schemaLocation="CIBIL_wsdlfile_InlineSchema9.xsd"/>
    </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts">
<xs:import namespace="http://schemas.datacontract.org/2004/07/TU.IDS.ServiceShared.Utility" schemaLocation="CIBIL_wsdlfile_InlineSchema6.xsd"/>
<xsd:include schemaLocation="CIBIL_wsdlfile_InlineSchema5.xsd"/>
    </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TU.IDS.ServiceShared.Utility" xmlns:tns="http://schemas.datacontract.org/2004/07/TU.IDS.ServiceShared.Utility">
      <xsd:include schemaLocation="CIBIL_wsdlfile_InlineSchema6.xsd"/>
    </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xs:import namespace="http://schemas.datacontract.org/2004/07/" schemaLocation="CIBIL_wsdlfile_InlineSchema3.xsd"/>
<xs:import namespace="http://schemas.datacontract.org/2004/07/TU.IDS.DataContracts.ExternalServices" schemaLocation="CIBIL_wsdlfile_InlineSchema4.xsd"/>
<xs:import namespace="http://schemas.datacontract.org/2004/07/TU.IDS.DataContracts.ExternalServices.SolutionExecution" schemaLocation="CIBIL_wsdlfile_InlineSchema7.xsd"/>
<xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="CIBIL_wsdlfile_InlineSchema8.xsd"/>
<xs:import namespace="http://schemas.datacontract.org/2004/07/TU.IDS.BusinessEntities.DigitalVerification" schemaLocation="CIBIL_wsdlfile_InlineSchema9.xsd"/>
<xsd:include schemaLocation="CIBIL_wsdlfile_InlineSchema1.xsd"/>
    </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
<xsd:include schemaLocation="CIBIL_wsdlfile_InlineSchema8.xsd"/>
    </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TU.IDS.DataContracts.ExternalServices" xmlns:tns="http://schemas.datacontract.org/2004/07/TU.IDS.DataContracts.ExternalServices">
<xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="CIBIL_wsdlfile_InlineSchema8.xsd"/>
<xsd:include schemaLocation="CIBIL_wsdlfile_InlineSchema4.xsd"/>
    </xs:schema>
    </wsdl:types>
<wsdl:message name="IExternalSolutionExecution_AuthenticateXMLString_InputMessage">
<wsdl:part element="tns:AuthenticateXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_AuthenticateXMLString_OutputMessage">
<wsdl:part element="tns:AuthenticateXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ChangePasswordXMLString_InputMessage">
<wsdl:part element="tns:ChangePasswordXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ChangePasswordXMLString_OutputMessage">
<wsdl:part element="tns:ChangePasswordXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_DownloadDocument_InputMessage">
<wsdl:part element="tns:DownloadDocument" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_DownloadDocument_OutputMessage">
<wsdl:part element="tns:DownloadDocumentResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ExecuteXMLString_InputMessage">
<wsdl:part element="tns:ExecuteXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ExecuteXMLString_OutputMessage">
<wsdl:part element="tns:ExecuteXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetFinalTrace_InputMessage">
<wsdl:part element="tns:GetFinalTrace" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetFinalTrace_OutputMessage">
<wsdl:part element="tns:GetFinalTraceResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetFinalTrace_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q1:ExternalServiceFault" name="detail" xmlns:q1="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetQueueAppCountXMLString_InputMessage">
<wsdl:part element="tns:GetQueueAppCountXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetQueueAppCountXMLString_OutputMessage">
<wsdl:part element="tns:GetQueueAppCountXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetQueueAppCountXMLString_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q2:ExternalServiceFault" name="detail" xmlns:q2="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetAppCountByField_InputMessage">
<wsdl:part element="tns:GetAppCountByField" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetAppCountByField_OutputMessage">
<wsdl:part element="tns:GetAppCountByFieldResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetAppCountByField_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q3:ExternalServiceFault" name="detail" xmlns:q3="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetQueueAppCount_InputMessage">
<wsdl:part element="tns:GetQueueAppCount" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetQueueAppCount_OutputMessage">
<wsdl:part element="tns:GetQueueAppCountResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetQueueAppCount_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q4:ExternalServiceFault" name="detail" xmlns:q4="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetSolutionQueueNames_InputMessage">
<wsdl:part element="tns:GetSolutionQueueNames" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetSolutionQueueNames_OutputMessage">
<wsdl:part element="tns:GetSolutionQueueNamesResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetSolutionQueueNames_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q5:ExternalServiceFault" name="detail" xmlns:q5="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_LockApplicationXMLString_InputMessage">
<wsdl:part element="tns:LockApplicationXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_LockApplicationXMLString_OutputMessage">
<wsdl:part element="tns:LockApplicationXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_LogoutSessionXMLString_InputMessage">
<wsdl:part element="tns:LogoutSessionXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_LogoutSessionXMLString_OutputMessage">
<wsdl:part element="tns:LogoutSessionXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationAllFieldsById_InputMessage">
<wsdl:part element="tns:ReadApplicationAllFieldsById" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationAllFieldsById_OutputMessage">
<wsdl:part element="tns:ReadApplicationAllFieldsByIdResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationAllFieldsById_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q6:ExternalServiceFault" name="detail" xmlns:q6="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationDataById_InputMessage">
<wsdl:part element="tns:ReadApplicationDataById" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationDataById_OutputMessage">
<wsdl:part element="tns:ReadApplicationDataByIdResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationDataById_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q7:ExternalServiceFault" name="detail" xmlns:q7="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationDataByIdAndQueue_InputMessage">
<wsdl:part element="tns:ReadApplicationDataByIdAndQueue" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationDataByIdAndQueue_OutputMessage">
<wsdl:part element="tns:ReadApplicationDataByIdAndQueueResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationDataByIdAndQueue_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q8:ExternalServiceFault" name="detail" xmlns:q8="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationFieldsById_InputMessage">
<wsdl:part element="tns:ReadApplicationFieldsById" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationFieldsById_OutputMessage">
<wsdl:part element="tns:ReadApplicationFieldsByIdResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationFieldsById_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q9:ExternalServiceFault" name="detail" xmlns:q9="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationFieldsByIdAndQueue_InputMessage">
<wsdl:part element="tns:ReadApplicationFieldsByIdAndQueue" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationFieldsByIdAndQueue_OutputMessage">
<wsdl:part element="tns:ReadApplicationFieldsByIdAndQueueResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReadApplicationFieldsByIdAndQueue_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q10:ExternalServiceFault" name="detail" xmlns:q10="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReassignApplicationXMLString_InputMessage">
<wsdl:part element="tns:ReassignApplicationXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReassignApplicationXMLString_OutputMessage">
<wsdl:part element="tns:ReassignApplicationXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReassignOrganizationXMLString_InputMessage">
<wsdl:part element="tns:ReassignOrganizationXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ReassignOrganizationXMLString_OutputMessage">
<wsdl:part element="tns:ReassignOrganizationXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RemoveDocument_InputMessage">
<wsdl:part element="tns:RemoveDocument" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RemoveDocument_OutputMessage">
<wsdl:part element="tns:RemoveDocumentResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ResetPasswordByUserXMLString_InputMessage">
<wsdl:part element="tns:ResetPasswordByUserXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ResetPasswordByUserXMLString_OutputMessage">
<wsdl:part element="tns:ResetPasswordByUserXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RetrieveAppsByRangeXMLString_InputMessage">
<wsdl:part element="tns:RetrieveAppsByRangeXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RetrieveAppsByRangeXMLString_OutputMessage">
<wsdl:part element="tns:RetrieveAppsByRangeXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RetrieveDocumentMetaDataXMLString_InputMessage">
<wsdl:part element="tns:RetrieveDocumentMetaDataXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RetrieveDocumentMetaDataXMLString_OutputMessage">
<wsdl:part element="tns:RetrieveDocumentMetaDataXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RetrieveSecretQuestionXMLString_InputMessage">
<wsdl:part element="tns:RetrieveSecretQuestionXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RetrieveSecretQuestionXMLString_OutputMessage">
<wsdl:part element="tns:RetrieveSecretQuestionXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RetrieveSSXMLString_InputMessage">
<wsdl:part element="tns:RetrieveSSXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RetrieveSSXMLString_OutputMessage">
<wsdl:part element="tns:RetrieveSSXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RetrieveXMLString_InputMessage">
<wsdl:part element="tns:RetrieveXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_RetrieveXMLString_OutputMessage">
<wsdl:part element="tns:RetrieveXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_SaveXMLString_InputMessage">
<wsdl:part element="tns:SaveXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_SaveXMLString_OutputMessage">
<wsdl:part element="tns:SaveXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_SearchApplication_InputMessage">
<wsdl:part element="tns:SearchApplication" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_SearchApplication_OutputMessage">
<wsdl:part element="tns:SearchApplicationResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_SearchApplication_ExternalServiceFaultFault_FaultMessage">
<wsdl:part element="q11:ExternalServiceFault" name="detail" xmlns:q11="http://schemas.datacontract.org/2004/07/TU.IDS.FaultContracts"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_SearchApplicationXMLString_InputMessage">
<wsdl:part element="tns:SearchApplicationXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_SearchApplicationXMLString_OutputMessage">
<wsdl:part element="tns:SearchApplicationXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_UnlockApplicationXMLString_InputMessage">
<wsdl:part element="tns:UnlockApplicationXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_UnlockApplicationXMLString_OutputMessage">
<wsdl:part element="tns:UnlockApplicationXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_UploadDocumentXMLString_InputMessage">
<wsdl:part element="tns:UploadDocumentXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_UploadDocumentXMLString_OutputMessage">
<wsdl:part element="tns:UploadDocumentXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetDvCaseStatusHistory_InputMessage">
<wsdl:part element="tns:GetDvCaseStatusHistory" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_GetDvCaseStatusHistory_OutputMessage">
<wsdl:part element="tns:GetDvCaseStatusHistoryResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ViewApplicationHistoryXMLString_InputMessage">
<wsdl:part element="tns:ViewApplicationHistoryXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ViewApplicationHistoryXMLString_OutputMessage">
<wsdl:part element="tns:ViewApplicationHistoryXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ViewApplicationXMLString_InputMessage">
<wsdl:part element="tns:ViewApplicationXMLString" name="parameters"/>
</wsdl:message>
<wsdl:message name="IExternalSolutionExecution_ViewApplicationXMLString_OutputMessage">
<wsdl:part element="tns:ViewApplicationXMLStringResponse" name="parameters"/>
</wsdl:message>
<wsdl:portType name="IExternalSolutionExecution">
<wsdl:operation name="AuthenticateXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_AuthenticateXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/AuthenticateXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_AuthenticateXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/AuthenticateXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="ChangePasswordXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_ChangePasswordXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ChangePasswordXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_ChangePasswordXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ChangePasswordXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="DownloadDocument">
<wsdl:input message="tns:IExternalSolutionExecution_DownloadDocument_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/DownloadDocument"/>
<wsdl:output message="tns:IExternalSolutionExecution_DownloadDocument_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/DownloadDocumentResponse"/>
</wsdl:operation>
<wsdl:operation name="ExecuteXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_ExecuteXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ExecuteXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_ExecuteXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ExecuteXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="GetFinalTrace">
<wsdl:input message="tns:IExternalSolutionExecution_GetFinalTrace_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetFinalTrace"/>
<wsdl:output message="tns:IExternalSolutionExecution_GetFinalTrace_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetFinalTraceResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_GetFinalTrace_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetFinalTraceExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="GetQueueAppCountXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_GetQueueAppCountXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetQueueAppCountXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_GetQueueAppCountXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetQueueAppCountXMLStringResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_GetQueueAppCountXMLString_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetQueueAppCountXMLStringExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="GetAppCountByField">
<wsdl:input message="tns:IExternalSolutionExecution_GetAppCountByField_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetAppCountByField"/>
<wsdl:output message="tns:IExternalSolutionExecution_GetAppCountByField_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetAppCountByFieldResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_GetAppCountByField_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetAppCountByFieldExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="GetQueueAppCount">
<wsdl:input message="tns:IExternalSolutionExecution_GetQueueAppCount_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetQueueAppCount"/>
<wsdl:output message="tns:IExternalSolutionExecution_GetQueueAppCount_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetQueueAppCountResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_GetQueueAppCount_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetQueueAppCountExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="GetSolutionQueueNames">
<wsdl:input message="tns:IExternalSolutionExecution_GetSolutionQueueNames_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetSolutionQueueNames"/>
<wsdl:output message="tns:IExternalSolutionExecution_GetSolutionQueueNames_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetSolutionQueueNamesResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_GetSolutionQueueNames_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetSolutionQueueNamesExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="LockApplicationXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_LockApplicationXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/LockApplicationXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_LockApplicationXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/LockApplicationXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="LogoutSessionXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_LogoutSessionXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/LogoutSessionXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_LogoutSessionXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/LogoutSessionXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="ReadApplicationAllFieldsById">
<wsdl:input message="tns:IExternalSolutionExecution_ReadApplicationAllFieldsById_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationAllFieldsById"/>
<wsdl:output message="tns:IExternalSolutionExecution_ReadApplicationAllFieldsById_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationAllFieldsByIdResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_ReadApplicationAllFieldsById_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationAllFieldsByIdExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="ReadApplicationDataById">
<wsdl:input message="tns:IExternalSolutionExecution_ReadApplicationDataById_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationDataById"/>
<wsdl:output message="tns:IExternalSolutionExecution_ReadApplicationDataById_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationDataByIdResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_ReadApplicationDataById_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationDataByIdExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="ReadApplicationDataByIdAndQueue">
<wsdl:input message="tns:IExternalSolutionExecution_ReadApplicationDataByIdAndQueue_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationDataByIdAndQueue"/>
<wsdl:output message="tns:IExternalSolutionExecution_ReadApplicationDataByIdAndQueue_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationDataByIdAndQueueResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_ReadApplicationDataByIdAndQueue_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationDataByIdAndQueueExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="ReadApplicationFieldsById">
<wsdl:input message="tns:IExternalSolutionExecution_ReadApplicationFieldsById_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationFieldsById"/>
<wsdl:output message="tns:IExternalSolutionExecution_ReadApplicationFieldsById_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationFieldsByIdResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_ReadApplicationFieldsById_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationFieldsByIdExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="ReadApplicationFieldsByIdAndQueue">
<wsdl:input message="tns:IExternalSolutionExecution_ReadApplicationFieldsByIdAndQueue_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationFieldsByIdAndQueue"/>
<wsdl:output message="tns:IExternalSolutionExecution_ReadApplicationFieldsByIdAndQueue_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationFieldsByIdAndQueueResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_ReadApplicationFieldsByIdAndQueue_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReadApplicationFieldsByIdAndQueueExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="ReassignApplicationXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_ReassignApplicationXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReassignApplicationXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_ReassignApplicationXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReassignApplicationXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="ReassignOrganizationXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_ReassignOrganizationXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReassignOrganizationXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_ReassignOrganizationXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ReassignOrganizationXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="RemoveDocument">
<wsdl:input message="tns:IExternalSolutionExecution_RemoveDocument_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RemoveDocument"/>
<wsdl:output message="tns:IExternalSolutionExecution_RemoveDocument_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RemoveDocumentResponse"/>
</wsdl:operation>
<wsdl:operation name="ResetPasswordByUserXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_ResetPasswordByUserXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ResetPasswordByUserXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_ResetPasswordByUserXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ResetPasswordByUserXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="RetrieveAppsByRangeXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_RetrieveAppsByRangeXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RetrieveAppsByRangeXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_RetrieveAppsByRangeXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RetrieveAppsByRangeXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="RetrieveDocumentMetaDataXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_RetrieveDocumentMetaDataXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RetrieveDocumentMetaDataXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_RetrieveDocumentMetaDataXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RetrieveDocumentMetaDataXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="RetrieveSecretQuestionXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_RetrieveSecretQuestionXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RetrieveSecretQuestionXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_RetrieveSecretQuestionXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RetrieveSecretQuestionXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="RetrieveSSXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_RetrieveSSXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RetrieveSSXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_RetrieveSSXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RetrieveSSXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="RetrieveXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_RetrieveXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RetrieveXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_RetrieveXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/RetrieveXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="SaveXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_SaveXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/SaveXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_SaveXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/SaveXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="SearchApplication">
<wsdl:input message="tns:IExternalSolutionExecution_SearchApplication_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/SearchApplication"/>
<wsdl:output message="tns:IExternalSolutionExecution_SearchApplication_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/SearchApplicationResponse"/>
<wsdl:fault message="tns:IExternalSolutionExecution_SearchApplication_ExternalServiceFaultFault_FaultMessage" name="ExternalServiceFaultFault" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/SearchApplicationExternalServiceFaultFault"/>
</wsdl:operation>
<wsdl:operation name="SearchApplicationXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_SearchApplicationXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/SearchApplicationXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_SearchApplicationXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/SearchApplicationXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="UnlockApplicationXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_UnlockApplicationXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/UnlockApplicationXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_UnlockApplicationXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/UnlockApplicationXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="UploadDocumentXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_UploadDocumentXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/UploadDocumentXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_UploadDocumentXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/UploadDocumentXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="GetDvCaseStatusHistory">
<wsdl:input message="tns:IExternalSolutionExecution_GetDvCaseStatusHistory_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetDvCaseStatusHistory"/>
<wsdl:output message="tns:IExternalSolutionExecution_GetDvCaseStatusHistory_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/GetDvCaseStatusHistoryResponse"/>
</wsdl:operation>
<wsdl:operation name="ViewApplicationHistoryXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_ViewApplicationHistoryXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ViewApplicationHistoryXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_ViewApplicationHistoryXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ViewApplicationHistoryXMLStringResponse"/>
</wsdl:operation>
<wsdl:operation name="ViewApplicationXMLString">
<wsdl:input message="tns:IExternalSolutionExecution_ViewApplicationXMLString_InputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ViewApplicationXMLString"/>
<wsdl:output message="tns:IExternalSolutionExecution_ViewApplicationXMLString_OutputMessage" wsaw:Action="http://tempuri.org/IExternalSolutionExecution/ViewApplicationXMLStringResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="basicHttp" type="tns:IExternalSolutionExecution">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="AuthenticateXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/AuthenticateXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ChangePasswordXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ChangePasswordXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="DownloadDocument">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/DownloadDocument" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ExecuteXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ExecuteXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetFinalTrace">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/GetFinalTrace" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="GetQueueAppCountXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/GetQueueAppCountXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="GetAppCountByField">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/GetAppCountByField" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="GetQueueAppCount">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/GetQueueAppCount" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="GetSolutionQueueNames">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/GetSolutionQueueNames" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="LockApplicationXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/LockApplicationXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LogoutSessionXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/LogoutSessionXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ReadApplicationAllFieldsById">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ReadApplicationAllFieldsById" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="ReadApplicationDataById">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ReadApplicationDataById" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="ReadApplicationDataByIdAndQueue">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ReadApplicationDataByIdAndQueue" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="ReadApplicationFieldsById">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ReadApplicationFieldsById" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="ReadApplicationFieldsByIdAndQueue">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ReadApplicationFieldsByIdAndQueue" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="ReassignApplicationXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ReassignApplicationXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ReassignOrganizationXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ReassignOrganizationXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="RemoveDocument">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/RemoveDocument" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ResetPasswordByUserXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ResetPasswordByUserXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="RetrieveAppsByRangeXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/RetrieveAppsByRangeXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="RetrieveDocumentMetaDataXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/RetrieveDocumentMetaDataXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="RetrieveSecretQuestionXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/RetrieveSecretQuestionXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="RetrieveSSXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/RetrieveSSXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="RetrieveXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/RetrieveXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SaveXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/SaveXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SearchApplication">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/SearchApplication" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ExternalServiceFaultFault">
<soap:fault name="ExternalServiceFaultFault" namespace="" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="SearchApplicationXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/SearchApplicationXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="UnlockApplicationXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/UnlockApplicationXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="UploadDocumentXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/UploadDocumentXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetDvCaseStatusHistory">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/GetDvCaseStatusHistory" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ViewApplicationHistoryXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ViewApplicationHistoryXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ViewApplicationXMLString">
<soap:operation soapAction="http://tempuri.org/IExternalSolutionExecution/ViewApplicationXMLString" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ExternalSolutionExecutionService">
<wsdl:port binding="tns:basicHttp" name="basicHttp">
<soap:address location="https://www.test.transuniondecisioncentre.co.in/DC/TU/TU.IDS.ExternalServices/SolutionExecution/ExternalSolutionExecution.svc"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>